{% extends 'partials/_base.html' %}

{% load static %}

{% block titulo %}Login{% endblock %}

{% block content %}
    <h1 class="main__titulo">Login</h1>

    <form action="{% url 'usuario:login' %}" method="POST" autocomplete="off">
        {% csrf_token %}

        <div class="grupo">
            <label for="campo-nome-usuario">Nome de usuário</label>
            <input id="campo-nome-usuario" type="text" name="nome-usuario" required>
        </div>
        
        <div class="grupo">
            <label for="campo-senha">Senha</label>
            <input id="campo-senha" type="password" name="senha" required>
        </div>

        <button class="botao" type="submit">Entrar</button>
    </form>
{% endblock %}