{% extends 'partials/_base.html' %}

{% load static %}

{% block titulo %}Meus links{% endblock %}

{% block content %}
    <h1 class="main__titulo">Meus links</h1>

    {% for link in links %}
        <div class="grupo">
            <h2 class="texto--20"># <a href="{% url 'encurta:link' link.id %}">enc.io/{{ link.id }}</a></h2>

            <p>URL: <a href="{{ link.url.url }}" class="link">{{ link.url.url }}</a></p>

            {% if link.qtd_acessos %}
                <p class="texto--12 texto--cinza">{{ link.qtd_acessos }} acessos</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}