{% extends 'partials/_base.html' %}

{% load static %}

{% block titulo %}Usuários{% endblock %}

{% block content %}
    <h1>Usuários</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Nome de Usuário</th>
            </tr>
        </thead>

        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.first_name }}</td>
                    <td>{{ usuario.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}