{% extends 'partials/_base.html' %}

{% load static %}

{% block titulo %}Home{% endblock %}

{% block content %}
    <h1 class="main__titulo">Encurta</h1>

    <form action="{% url 'encurta:index' %}" method="POST">
        {% csrf_token %}
        
        <div class="grupo">
            <label for="campo-url">Insira uma URL</label>
            <input type="text" name="url" placeholder="Ex: https://www.google.com" required>
        </div>

        <button class="botao" type="submit">Encurtar</button>
    </form>

    <h2>URLs cadastradas ({{ qtd_urls_geradas }})</h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>URL</th>
                <th>Quantidade de links</th>
            </tr>
        </thead>

        <tbody>
            {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td>{{ url.url }}</td>
                    <td>{{ url.get_qtd_links }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Links gerados ({{ qtd_links_gerados }})</h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>URL</th>
                <th>Quantidade de acessos</th>
            </tr>
        </thead>

        <tbody>
            {% for link in links_gerados %}
                <tr>
                    <td>{{ link.id }}</td>
                    <td>{{ link.url.url }}</td>
                    <td>{{ link.qtd_acessos }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}