:root{
    --cor-roxo-pri: #121212;
    --cor-roxo-sec: #474785;
    --cor-verde: #33CC99;
    --cor-cinza: #B3B3B3;
    --cor-branco: #FFF;
    
    --gradiente-background: linear-gradient(135deg, #121221 49.42%, #474785 100%);
}