@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body, body *{
    color: var(--cor-branco); 
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.texto--12{
    font-size: .75rem;
}

.texto--16{
    font-size: 1rem;
}

.texto--20{
    font-size: 1.25rem;
}

b{
    font-weight: bold;
}

.texto--cinza{
    color: var(--cor-cinza);
}

.main__titulo{
    font-size: 2rem;
    font-weight: 500;
}
